body{
    margin: 0;
    padding: 0;
   
}
.back{
  background-image: linear-gradient(rgba(6, 1, 1, 0.9),rgba(10, 11, 11, 0.8)), url(images/train3.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
nav {
    flex: 1;
    text-align: right;
  }
  
nav ul {
    display: inline-block;
    list-style-type: none;
  }
  
nav ul li {
    display: inline-block;
    margin-right: 30px;
  }
a{
    text-decoration: none;
    color: rgb(22, 210, 22);
    font-size: medium;
}
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }  
.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.form{
    position: relative;
    z-index: 1;
    background: rgba(185, 226, 246, 0.2);
    border: 4px solid rgba(205, 239, 245, 0.5);
    box-shadow: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-style: ridge;
    text-align: center;
}
.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #01182a;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 14px;
    color: white;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #159241;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
textarea{
    background: #01182a;
    color: white;
    width: 92%;
    min-height: 50px;
    margin-bottom: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
}

.form button:hover,.form button:active{
    background: #0b8251;
}
.form .message{
    margin: 15px 0 0;
    color: #f1f3f6;
    font-size: 30px;
}
.form .message a{
    color: #5be55f;
    text-decoration: none;
    font-size: 30px;
}
.form .register-form{
    display: none;
}
/*-------------footer----------*/
.footer{
  background: #070707;
  color: snow;
  font-size: 14px;
  padding: 60px 0 20px;
  display: flex;
}
.footer p{
  color: rgb(191, 226, 207);
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  /* min-width: 250px; */
  width: 25%;
  margin-bottom: 20px;
}
 .footer-col-4 .uli{
  margin-left: 0 !important;
  padding: 0 ;
  list-style: none;
  font-size: medium;
}
.footer-col-3 .uli{
  margin-left: 0 !important;
  padding: 0 !important;
  list-style: none;
  font-size: large;
}
.footer-col-2{
  text-align:center;
}
.footer-col-2 img{
  width:50%;
  margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
  text-align:center;
}

.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 30%;
}
.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    animation: forwards;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}



.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #b00a6e;
  color: white;
}

.copyright{
  text-align:center;
}
.menu-icon{
  width:28px;
  margin-left:20px;
  display: none;
}